<!-- Content Starts Here--->
<h4>Branches</h4>
<blockquote>

    <p><img src="images/bullet.gif"> <a class="inplace" href="/partials/CupertinoSchedule.html">Cupertino Site</a></p>
    <p><img src="images/bullet.gif"> <a class="inplace" href="/partials/FremontSchedule.html">Fremont Site</a></p>
    <p><img src="images/bullet.gif"> <a class="inplace" href="/partials/PleasantonSchedule.html">Pleasanton Site</a></p>
    <p><img src="images/bullet.gif"> <a class="inplace" href="/partials/SJEvergreenSchedule.html">Evergreen Site</a></p>
    <p><img src="images/bullet.gif"> <a class="inplace" href="/partials/FolsomSchedule.html">Folsom Site</a></p>
    <p><img src="images/bullet.gif"> <a class="inplace" href="/partials/EastBaySchedule.html">San Ramon Site</a></p>
</blockquote>
<br />
<h4>Affiliates</h4>
<p><img src="images/bullet.gif" /> <a class="mouse" target="_blank" href="https://docs.google.com/document/d/1RP9p1blWaOqF11uUU3s4bv2hRW4T9f2_AIxUJMO_e4M/pub">ITA Affiliated school program manuals</a></p>
<p><img src="images/CTA_Branches_AffiliateSchools_Map_SV20130725.jpg" alt="CTA Branches & Affiliates" /> </p>
<p><img src="images/CTA_GlobalAffiliateSchools_Map_SV20130725.jpg" alt="CTA Global Affiliated Schools" /> </p>

<h4>
    Schools in the United States:
</h4>
<table class="text2" id="table1" style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse"
       cellspacing="0" cellpadding="0" border="0" bgcolor="#c8dbf0">
    <tr>
        <td class="table1" valign="top" colspan="3" align="center"></td>
    </tr>
    <tr class="table1">
        <td valign="top" width="120"><b>State </b></td>
        <td valign="top" width="300"><b>Name</b></td>
        <td valign="top" width="138"><b>City</b></td>

    </tr>

    <tr class="taalt1">
        <td valign="top" width="120"><b>California</b></td>
        <td valign="top" width="259">
            <a class="inplace" href="/partials/lats.html">Los Angeles Tamil School (LATS)</a>
        </td>
        <td valign="top" width="138">Arcadia</td>


    </tr>
    <tr class="taalt1">
        <td valign="top" width="257"></td>
        <td valign="top">
            <a class="inplace" href="/partials/NorthBaySchedule.html">North Bay Tamil School</a>
        </td>
        <td valign="top" width="138">Novato</td>

    </tr>
    <tr class="taalt1">
        <td valign="top"></td>
        <td valign="top" width="156">
            <a class="inplace" href="/partials/PeninsulaSchedule.html">Peninsula Tamil School</a>
        </td>
        <td valign="top" width="138">San Mateo</td>

    </tr>
    <tr class="taalt1">
        <td valign="top"></td>
        <td valign="top" width="156">
            <a class="inplace" href="/partials/SocalTamilSchool.html">SocalTamilSchool</a>
        </td>
        <td valign="top" width="138"> Irvine</td>

    </tr>
    <tr class="taalt1">
        <td valign="top"></td>
        <td valign="top" width="156">
            <a class="inplace" href="/partials/TamizhPallikkoodam.html">Tamizh Pallikkoodam</a>
        </td>
        <td valign="top" width="138"> Simi Valley</td>

    </tr>
    <tr>
        <td valign="top" width="257"><b>Connecticut</b></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/AgaramTamilSchoolSchedule.html">Agaram Tamil Padasalai</a>
        </td>
        <td valign="top" width="138">Canton</td>

    </tr>
    <tr>
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/BharathiTamilSchool.html">Bharathi Tamil School</a>
        </td>
        <td valign="top" width="138">Ellington</td>

    </tr>

    <tr class="taalt1">
        <td valign="top" width="257"><b>Georgia</b></td>
        <td valign="top" width="250">
            <a class="inplace" href="/partials/CMAThamizhPalliSchedule.html">GATS - Alpharetta Tamil School</a>
        </td>
        <td valign="top" width="138">Cumming</td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/BharathithamizhPalliSchedule.html">GATS - Bharathi Payinthamizh Palli</a>
        </td>
        <td valign="top" width="138"> Riversdale</td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257"></td>
        <td valign="top" width="220">
            <a class="inplace" href="/partials/LillburnThamizhPalliSchedule.html">GATS - Lillburn Tamizh Palli</a>
        </td>
        <td valign="top" width="138">Snellville</td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257"></td>
        <td valign="top" width="220">
            <a class="inplace" href="/partials/Mariettatamilschool.html">GATS - Marietta Tamil School</a>
        </td>
        <td valign="top" width="138">Marietta</td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257"></td>

        <td valign="top" width="258">
            <a class="inplace" href="/partials/ColumbusSchedule.html">GATS - Tamil Arivu Kalai Koodam</a>
        </td>
        <td valign="top" width="138"> Columbus</td>

    </tr>
    <tr>
        <td valign="top" width="257">
            <b>Massachusetts</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/KalaimagalSchedule.html">Kalaimagal Tamil School</a>
        </td>
        <td valign="top" width="138">
            Shrewsbury
        </td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/MtsFarmington.html">MTS Tamil School, Farmington Hills</a>
        </td>
        <td valign="top" width="138">
            Farmington
        </td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257">
            <b>Michigan</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/MtsTroy.html">MTS Tamil School, Troy</a>
        </td>
        <td valign="top" width="138">
            Troy
        </td>

    </tr>
    <tr>
        <td valign="top" width="257">
            <b>Minnesota</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/TwinCitiesTamilPadasalai.html">Twin Cities Tamil Padasalai</a>
        </td>
        <td valign="top" width="138">
            Hopkins
        </td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257">
            <b>New Jersey</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/ThiruvalluvarSchoolSchedule.html">NJ Thiruvalluvar Tamil School</a>
        </td>
        <td valign="top" width="138">
            Edison
        </td>

    </tr>
    <tr>
        <td valign="top" width="257">
            <b>Oregon</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/TamilArambapPalli.html">Tamil Arambap Palli</a>
        </td>
        <td valign="top" width="138">
            Portland
        </td>

    </tr>
    <tr class="taalt1">
        <td valign="top" width="257">
            <b>Tennessee</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/TennesseeTamilAcademy.html">Tennessee Tamil Academy</a>
        </td>
        <td valign="top" width="138">
            Brentwood
        </td>

    </tr>
    <tr>
        <td valign="top" width="257">
            <b>Texas</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/Bharathikalaimandramschedule.html">Bharathi Kalai Manram</a>

        </td>
        <td valign="top" width="138">
            Houston
        </td>
    </tr>
    <tr>
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/GreaterAustinTamilAcademy.html">Greater Austin Tamil Academy</a>

        </td>
        <td valign="top" width="138">
            Austin
        </td>
    </tr>

    <tr class="taalt1">
        <td valign="top" width="257">
            <b>Washington</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/RedmondTamilSchoolSchedule.html">Redmond Tamil School</a>
        </td>
        <td valign="top" width="138">
            Redmond
        </td>
    </tr>
    <tr class="tabwhi">
        <td valign="top" colspan="6">
            <p>&nbsp;</p>
        </td>
    </tr>
</table>
<br />
<h4>
    Schools Outside United States:
</h4>
<table class="text2" id="table1" style="BORDER-RIGHT: medium none; BORDER-TOP: medium none; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; BORDER-COLLAPSE: collapse"
       cellspacing="0" cellpadding="0" border="0" bgcolor="#c8dbf0">

    <tr class="table1">
        <td valign="top" width="120"><b>Country</b></td>
        <td valign="top" width="300"><b>Name</b></td>
        <td valign="top" width="138"><b>City</b></td>

    </tr>


    <tr class="taalt1">
        <td valign="top" width="257">
            <b>United Arab Emirates</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/EmiratesTamilPallikkoodamSchedule.html">Emirates Tamil Pallikkoodam</a>
        </td>
        <td valign="top" width="138">
            Dubai
        </td>

    </tr>



    <tr>
        <td valign="top" width="257">
            <b>United Kingdom</b>
        </td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/BedfordTamilPayilagam.html">Bedford Tamil Payilagam</a>
        </td>
        <td valign="top" width="138">
            Bedford
        </td>

    </tr>
    <tr>
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/MTASchoolSchedule.html">Midlands Tamil Academy</a>
        </td>
        <td valign="top" width="138">
            Telford
        </td>

    </tr>
    <tr>
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/MKMMTamilSchedule.html">MKMM Tamil School</a>
        </td>
        <td valign="top" width="138">
            Milton Keynes
        </td>

    </tr>
    <tr>
        <td valign="top" width="257"></td>
        <td valign="top" width="258">
            <a class="inplace" href="/partials/TamilKallurischedule.html">Tamil Kalluri</a>
        </td>
        <td valign="top" width="138">
            Cleveland
        </td>

    </tr>

</table>
<!-- Content Ends   Here--->
