<!-- Content Starts Here--->
<p><a class=mouse href="#" onclick="pageLoader.LoadPage('/partials/words.html' )">Words</a>
<p class=header_1><span id=heading></span></p>


<p><span id=img><img id="dynImg" src=""/></span></p>
<p><a class=mouse href="#" onclick="pageLoader.LoadPage('/partials/words.html')">Words</a>
<!-- Content Ends   Here--->

<!--<script>
    function gettext()
    {
        var srctext = "";
        debugger;
        srctext = window.img;
        alert(srctext);
        var q = "";
        var index = srctext.indexOf('?');
        if (index != -1) {
            var endindex = srctext.indexOf('&');
            if (endindex != -1)
            {
                q=srctext.substring(index+11,endindex);
            }
            else
            {
                q=srctext.substring(index+11,srctext.length);
            }
            mysearchtext=q;

            show(q);
        }

    }
</script>

<script>
    var pic;
    var he;
    he = "Greetings";
    function show(q) {
        switch (q) {
        case '0':
            he = "Greetings from President of India for CTA annual day";
            pic = "presigreet.jpg";
            break;
        case 'one':
            pic = "karunanidhi.jpg";
            he = " Mr. karunanidhi's Greetings";
            break;
        case 'two':
            pic = "thirunavukkarasar.jpg";
            he = "Mr. Thirunavukkarasar's Words";
            break;
        case 'three':
            pic = "Kannappan.jpg";
            he = "Mr. Kannappan's Message";
            break;
        case 'four':
            pic = "anbazhagan.jpg";
            he = "Message from Mr.Anbazhagan";
            break;
        case 'five':
            he = "Chairman, Tamil Virtual Academy -2003"
            pic = "vckulandhai2003.jpg"
            break;
        case 'six':
            he = "Chairman, Tamil Virtual Academy -2004"
            pic = "vckulandhai2004.jpg"
            break;
        case 'seven':
            he = "Director, Tamil Virtual Academy"
            pic = "ponnavaiko.jpg"
            break;
        case 'eight':
            he = "Former Vice Chancellor, Anna University"
            pic = "vcannauniv.jpg"
            break;
        case 'nine':
            he = "Justice S Rathnavelpandian"
            pic = "JusticePandian.jpg"
            break;
        case 'ten':
            he = "Message From Mr. S Madhavan"
            pic = "Madhavan.jpg"
            break;
        case '11':
            he = "Treasurer's Report For the Year 2003";
            pic = "TreasurerReport2003.jpg"
            break;
        case '12':
            he = "Treasurer's Report FY 2004"
            pic = "TreasurerReport2004.jpg"
            break;
        case '13':
            he = "About CTA in Murasoli"
            pic = "Murasoli11.jpg"
            break;
        case '14':
            he = "About CTA in Dinakaran"
            pic = "Dinakaran1.jpg"
            break;
        case '15':
            he = "Fremont School Picture"
            pic = "GroupPhoto.jpg"
            break;
        case '16':
            he = "Words 1 from Ilakkumi Pathippakam"
            pic = "books/tamil_words1.jpg"
            break;
        case '17':
            he = "Words 2 from Ilakkumi Pathippakam"
            pic = "books/tamil_words2.jpg"
            break;
        case '18':
            he = "Words 3 from Ilakkumi Pathippakam"
            pic = "books/tamil_words3.jpg"
            break;
        case '19':
            he = "Words 4 from Ilakkumi Pathippakam"
            pic = "books/tamil_words4.jpg"
            break;
        case '20':
            he = "Words 5 from Ilakkumi Pathippakam"
            pic = "books/tamil_words5.jpg"
            break;
        case '21':
            he = "Words 6 from Ilakkumi Pathippakam"
            pic = "books/tamil_words6.jpg"
            break;
        case '22':
            he = "Words 7 from Ilakkumi Pathippakam"
            pic = "books/tamil_words7.jpg"
            break;
        case '23':
            he = "CTA Introduction and Information Sharing"
            pic = "CTA Introduction and Information Sharing.ppt"
            break;
        case '24':
            he = "CTA Back to school parents information"
            pic = "CTA Back to school parents information.pps"
            break;
        case '25':
            he = "Treasurer's Report For the Year 2008";
            pic = "TreasurerReport2008.jpg"
            break;
        }
        img.innerHTML = '<a href="#" onClick="maxi()"><img src="/images/pic/' + pic + '" width=200 border="0"></a>';
        heading.innerHTML = he;
    }
    function maxi() {
        img.innerHTML = '<img src="/images/pic/' + pic + '" width=100% border="0">';
        mess.innerHTML = ' ';
    }
</script>
<script>   
    $(function () {
        window.alert(window.location.search);
        //img.innerHTML = '<img src="/images/pic/' +   + '" width=100% border="0">';
        gettext();
    });
</script>-->