<!-- Content Starts Here--->
<h4>UNIVERSITY OF CALIFORNIA, BERKELEY</h4>

<h4>Tamil Classes</h4>
<h4>Fall 2010</h4>
<p>
    <b>Tamil 1A:</b> Introductory Tamil - 5 Units<br />

    Tuesday and Thursday 9.30 - 11 am,<br /> 210 Dwinelle Hall.<br />Read, Write, Speak &amp;
    Comprehend Tamil<br />
</p>
<p>
    <b>Tamil 101A:</b> Intermediate Tamil- Prose and Poetry 4 or 5 units<br />

    Tuesday and Thursday 11 - 12.30 am,<br /> 234 Dwinelle Hall.<br />Read Tamil short stories and poems. Write small essays. If you have
    learned Tamil in CTA or can read Tamil please come and see Kausalya
    Hart to take this class.<br />
</p>
<p>
    <b>Minor.</b> Students who take 2 years of Tamil and 3 courses can minor in
    South and Southeast Asian Studies.
</p>
<p>
    <b>Major.</b> Students can have a second major in South and Southeast Asian
    Studies. <b></b>
</p>
<p>
    <b>Honors.</b> Students who major can write a research paper and graduate
    with honors.<b></b>
</p>
<p>
    <b>Information.</b><br /> Kausalya Hart. <a href="mailto:khart@berkeley.edu" target="_blank">khart@berkeley.edu</a> <br />(510) 642-4418.<br /> 350 Dwinelle (8 AM to 1 PM).
</p>
