<!-- Content Starts Here--->
<p><a class=mouse href="javascript:history.back()">Back</a></p>
<p class=header_1>How to enable Unicode Tamil in Win 2000 and Win XP</p>
<p class=header_1> How to Enable Tamil in Windows 2000?</p>


<p> You may need to have the Windows 2000 Installation CD for doing this.</p>


<blockquote>


    <p>
        <img src="images/dot.gif" width="10" height="7">  From Start Menu, Open Settings >> Control Panel<br><br>
        <img src="images/dot.gif" width="10" height="7"> In Control panel, Open "Regional Settings"<br><br>
        <img src="images/dot.gif" width="10" height="7"> In that, in Language Settings for the system, many language groups can be clicked.<br><br>
        <img src="images/dot.gif" width="10" height="7"> Search for "Indic" then Check this box near by "Indic".<br><br>
        <img src="images/dot.gif" width="10" height="7"> And press OK That's all Now your Computer has Tamil support into it.
    </p>
</blockquote>
<img src="images/pic/LanguageWin2k.jpg" width="404" height="478">
<p class=header_1>How to Enable Tamil in Windows XP?</p>
<p>
    If you are having Windows XP OS and are having problem viewing the Tamil fonts, then you have to enable Indic support. Doing so is quite simple, actually.
    Just follow the simple steps mentioned below.
</p>
<blockquote>
    <p>
        <img src="images/dot.gif" width="10" height="7"> keep your XP installation CD at hand.<br><br>
        <img src="images/dot.gif" width="10" height="7">  Click Start > Control Panel.<br><br>
        <img src="images/dot.gif" width="10" height="7">  Click Date, Time, Language, and Regional Options.<br><br>
        <img src="images/dot.gif" width="10" height="7">  Now, click Regional and language Options.<br><br>
        <img src="images/dot.gif" width="10" height="7">  In the Supplemental Language support, Check the "Install files for Complex Script and right to left languages (including Thai) ", and then click Apply.<br><br>
        <img src="images/dot.gif" width="10" height="7">  If you hadn't yet inserted the Win XP installation CD into your CD-ROM drive, An alert will appear to ask you to insert the installation CD. Insert the CD and then click OK.<br><br>
        <img src="images/dot.gif" width="10" height="7">  That's all... now your computer is enabled for Tamil Unicode.&nbsp;<br><br>
    </p>
</blockquote>
<img src="images/pic/LanguageXP.jpg">
<p><font class=header_1>Courtesy:</font><a href="http://www.ezilnila.com" class="mouse" target="_blank">www.ezilnila.com</a></p>
<p><a class=mouse href="javascript:history.back()">Back</a></p>
<!-- Content Ends   Here--->
