<!-- Content Starts Here--->
<h4>About Us</h4>
<blockquote>
    <b>Please note</b> that the&nbsp;following links are best viewed in
    Tamil Enabled XP and Windows 2000. For help to enable Tamil in Win 2000 and Win
    XP click here &nbsp;<a href="#/aboutus/tamilhelp.html"><img border="0" src="../images/pic/tamil_uni_help.gif" width="90" height="30" align="middle"></a>.&nbsp;<font class="header_1">Courtesy:</font><a class="mouse" href="http://www.ezilnila.com" target="_blank">www.ezilnila.com</a>
    <br/><br/>
    <p>
        <img src="../images/bullet.gif"> <a class="inplace" href="#/aboutus/selviintro">
                                             Introduction
                                             by President of CTA.
                                         </a> &nbsp; &nbsp; <a class="mouse" style="text-decoration:underline;" href="/templates/president_speech.aif">Download - President Speech</a>
    </p>
    <p>
        <img src="../images/bullet.gif"> <a class="inplace" href="#/aboutus/about">
    Introduction by the
    Academy
</a>
    </p>
    <p>
        <img src="../images/bullet.gif" /><a class="inplace" href="#/aboutus/president" data-img="presigreet.jpg">
    President
    of India
</a>
    </p>
    <p>
        <img src="../images/bullet.gif" /><a class="inplace" href="#/aboutus/karunanidhi" data-img="karunanidhi.jpg">
    Dr.
    M. Karunanidhi
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/tvachairman2003" data-img="vckulandhai2003.jpg">
    Chairman,
    Tamil Virtual Academy -2003
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/tvachairman2004" data-img="vckulandhai2004.jpg">
    Chairman,
    Tamil Virtual Academy -2004
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/tvadirector" data-img="ponnavaiko.jpg">
                                            Director, Tamil Virtual Academy
                                        </a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/vcannauniv" data-img="vcannauniv.jpg">
                                            Former Vice Chancellor, Anna University
                                        </a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/smadhavan" data-img="Madhavan.jpg">
                                            S
                                            Madhavan
                                        </a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/treasurerreport2003" data-img="TreasurerReport2003.jpg">
    Treasurer's
    Report FY 2003
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/treasurerreport2004" data-img="TreasurerReport2004.jpg">
    Treasurer's
    Report FY 2004
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/treasurerreport2008" data-img="TreasurerReport2008.jpg">
    Treasurer's
    Report FY 2008
</a>
    </p>
    <p><img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/parent"> A Parent's Note</a></p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/describe">Description of Skill Levels at different Classes</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/credit">
                                            Credit Program for
                                            High School Students
                                        </a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/exammethods">
                                            Description
                                            of Exams at different Classes
                                        </a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/teach_strategy">
                                            Teaching
                                            methods captivating students attention
                                        </a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/final_ranking">
                                            Year End
                                            Grading Methods
                                        </a>
    </p>
    <p><img src="images/bullet.gif"><a class="mouse" href="images/pic/CTA Introduction and Information Sharing.pps"> CTA Introduction and Information Sharing</a></p>
    <p><img src="images/bullet.gif"><a class="mouse" href="images/pic/CTA Back to school parents information.pps"> CTA Back to school parents information</a></p>
    <p><img src="../images/bullet.gif"> CTA teaches Tamil in public schools in California. <a class="inplace" href="#/aboutus/teach">more</a></p>
    <p><img src="../images/bullet.gif"> Greetings from President of India for CTA annual day. <a class="inplace" href="#/aboutus/president" data-img="presigreet.jpg">more</a></p>
    <p><img src="../images/bullet.gif"> A CTA student teaches in Tamil to students in Tamil Nadu. <a class="inplace" href="#/aboutus/ctapress">more</a></p>
</blockquote>
<br/>
<h4>Tamil PDF documents</h4>
<blockquote>
    <b>Please note</b> that the PDF files are best viewed using Acrobat
    Reader version 6.0 and above. To download latest version click in the following
    image.
    <p>
        <a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank" onmouseover="In('To Download Adobe Acrobot Reader');return true;"
           onmouseout="out();;return true;"><img src="../images/pic/getacro.gif" width="88" height="31" border="0"></a>
    </p>
    <p>
        <img src="../images/bullet.gif"> <a class="iframe" href="#/aboutus/selviintropdf" data-img="Intro-PresidentofCTA.pdf">
    Introduction
    by President of CTA.
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"> <a class="iframe" href="#/aboutus/aboutpdf" data-img="Intro-byAcademy.pdf">
    Introduction
    by the Academy
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="iframe" href="#/aboutus/parentpdf" data-img="parents-note.pdf">
    A
    Parent's Note
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="iframe" href="#/aboutus/skilllevelpdf" data-img="skilllevelsatdiffclasses.pdf">
    Description
    of Skill Levels at different Classes
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="iframe" href="#/aboutus/exammethodspdf" data-img="examsatdiffclasses.pdf">
    Description
    of Exams at different Classes
</a>
    </p>
    <p>
        <img src="../images/bullet.gif"><a class="iframe" href="#/aboutus/teachingmethodspdf" data-img="TeachingMethods.pdf">
    Teaching
    methods captivating students attention
</a>
    </p>
    <p>
        <img src="../images/bullet.gif" width="12" height="12"><a class="iframe" href="#/aboutus/gradingmethodspdf" data-img="GradingMethods.pdf">
    Year End Grading Methods
</a>
    </p>
</blockquote>
<br/>
<h4>Newspaper Publications about CTA</h4>
<blockquote>
    <p><img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/murasoli" data-img="Murasoli11.jpg"> Murasoli</a></p> 
    <p><img src="../images/bullet.gif"><a class="inplace" href="#/aboutus/dinakaran" data-img="Dinakaran1.jpg"> Dinakaran</a></p>
</blockquote>


