<!-- Content Starts Here--->
<h4>Academics</h4>
<p>
    The links under Academics provide information about Teacher, Students
    and the portions covered everyday at CTA. The concerned teacher's contact
    information is also available. Questions of Students/Parents regarding
    homework will be addressed by the teachers concerned.
</p>
<p>
    <font color="red">
        Syllabus, Wordlist and Model Question Papers are
        moved into Member's Login. So that you could See/Download files from your
        Secured page.
    </font>
</p>
<p>
    <b>Please note</b> that the PDF files are best viewed using Acrobat Reader
    version 6.0 and above. To download latest version click in the following
    image.
</p>
<p><a href="http://www.adobe.com/products/acrobat/readstep2.html" target="_blank" onmouseover="In('To Download Adobe Acrobot Reader');return true;" onmouseout="out();;return true;"><img src="images/pic/getacro.gif" width="88" height="31" border="0"></a></p>
<br/><h4>Skillset</h4>
<blockquote>
    <p><img src="images/bullet.gif"><a class=mouse target="_blank" href="/docs/skillset/skillset.pdf"> Skillset</a></p>


</blockquote>
<br /><h4>Miscellaneous</h4>
<blockquote>
    <p><img src="images/bullet.gif"><a class="inplace" href="/partials/words.html"> Words</a></p>
    <p>
        <img src="images/bullet.gif"><a class="inplace" href="/partials/clubs.html">
            Club
            Activities
        </a>
    </p>
    <p>
        <img src="images/bullet.gif"><a class=mouse target="_blank" href="/docs/Principal.pdf">
            Principal's
            responsibilities
        </a>
    </p>
    <p>
        <img src="images/bullet.gif"><a class=mouse target="_blank" href="/docs/Viceprincipal.pdf">
            Vice Principal's
            responsibilities
        </a>
    </p>
    <p>
        <img src="images/bullet.gif"><a class="inplace" href="/partials/response.html">
            Teacher's
            responsibilities
        </a>
    </p>
    <p>
        <img src="images/bullet.gif"><a class="inplace" href="/partials/duty.html">
            Officer's
            duty
        </a>
    </p>
</blockquote>
<!-- Content Ends   Here--->
