<p>
    <a class=mouse href="#/academics">Academics</a>
    &gt; Clubs
</p>
<!-- Content Starts Here--->
<p class=header_1>Clubs</p>
<p>
    Classes offered second and third Sundays of the month between 11:15 to
    12:00. A calendar will be issued to all students who participate in the
    clubs.
</p>
<p class=header_2>Name of the Club: Tamil Discussion and Debate</p>
<p><b>Person to contact:</b> Kandasamy Palanisamy 408-366-2559</p>
<p><b>Email:</b> kandy_pal@yahoo.com</p>
<p>
    1) <b>Goal</b>:<br>
    <blockquote>
<p>
    <img src="images/bullet.gif"> Enjoy speaking Tamil and develop vocabulary through telling stories<br>
    <img src="images/bullet.gif"> sharing jokes<br>
    <img src="images/bullet.gif"> Gain fluency and confidence in Tamil through structured<br>
    <img src="images/bullet.gif"> Debates and speeches - Develop your public speaking skills<br>
</p>
      </blockquote>
      2) <b>How</b>:
<blockquote>
    <p>
        <img src="images/bullet.gif"> Kids Share their favorite Tamil jokes<br>
        <img src="images/bullet.gif"> Narrate short stories<br>
        <img src="images/bullet.gif"> Discuss interesting experiences and events<br>
        <img src="images/bullet.gif"> Debate any topic relevant to Tamil Community
        like "Will Tamil Flourish in US? Or Not"?<br>
        <img src="images/bullet.gif"> Prepare and speak on given topics like
        "My most favorite Tamil Poet"
    </p>
</blockquote>
	   3)<b>When</b>:
<blockquote>
    <p>
        <img src="images/bullet.gif"> Offered two Sundays - 11:15 to 12.<br>
        <img src="images/bullet.gif"> One specific activity per month.<br>
        <img src="images/bullet.gif"> Multiple groups depending on participation<br>
</blockquote>
	   4) <b>Competition</b>:
<blockquote>
    <img src="images/bullet.gif">One speech competition per quarter - Kids gifted
    in telling jokes and stories could entertain classes during meetings.
</blockquote>
<p class=header_2>Club Title: Kavithaiyum ceyyuLLum </p>
<p><b>Person to contact</b>: Nalayini Gunanayagam 408-578-6645 </p> <p> <b>Email</b>: ngunan@aol.com </p>
<p>A variety of verses to make sure kids of all ages can learn something</p>
<blockquote>
    <img src="images/bullet.gif"> ThirukkuRal<br>
    <img src="images/bullet.gif"> MaakatpeeRu<br>
    <img src="images/bullet.gif"> Natpu<br>
    <img src="images/bullet.gif"> CeynaNri aRithal<br>
    <img src="images/bullet.gif"> Iniyavai kuural vaaymai<br>
    <img src="images/bullet.gif"> Kalvi<br>
    <img src="images/bullet.gif"> Muuthurai <br>
    <img src="images/bullet.gif"> Thevaaram/Thiruvaasakam<br>
    <img src="images/bullet.gif"> Silappadikaram/Kambaraamaayanam <br>
    <img src="images/bullet.gif"> Bharathiyar<br>
</blockquote>
<p class=header_2>
    Participation prerequisite: Enjoyment in learning Tamil (realistically,
    it might be parents' desire for the child to learn something.)
<p>
<p> <b>Rules</b>:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif"> Regular attendance (ideal) Active participation <br>
        <img src="images/bullet.gif"> learn, memorize verses by given
        timeline learn and absorb new vocabulary through verses Respect for all
        including teacher and other students<br>
        <img src="images/bullet.gif"> show respect by attention and non-disruption<br>
        <img src="images/bullet.gif"> Offered two Sundays - 11:15 to 12.
    </p>
</blockquote>

<p class=header_2>
    Club Title: Writing Club ( kavithai &
    katturai neram ! )
</p>
<p> <b>Person to contact</b>: Gopal 408-253-1301</p>
<p><b>Emai</b>l: kag999@yahoo.com </p>
<p><b>Goals</b>: </p>
<blockquote>
    <p>
        <img src="images/bullet.gif"> Bring fluency in writing<br>
        <img src="images/bullet.gif"> Improve presentation of Ideas<br>
        <img src="images/bullet.gif"> Improve hand writing<br>
    </p>
</blockquote>

<p><b>How</b>: </p>
<blockquote>
    <p>
        <img src="images/bullet.gif"> Pick a topic and ask them to write a passage.<br>
        <img src="images/bullet.gif"> Write a poem about a topic<br>
        <img src="images/bullet.gif"> Discuss about 'how to' of 'kavithai' ( Yethugai
        & Monai ) <br>
        <img src="images/bullet.gif"> Word bank ( Varthai Vangi ) - form as many words as you can
        from a set of given letters. <br>
        <img src="images/bullet.gif"> Tamil Cross word 6. Write about a specific
        incident happened last week ( at home or at school ) all the above will
        be covered in 3 weeks on rotational basis.. <br>
    </p>
</blockquote>

<p><b>When</b>:</p>
<p>
    Offered two Sundays -
    11:15 to 12. ( follow after Debate club or vice versa )
<p>
<p><b>Competition</b>: </p>
<p>
    As
    applicable to other activities..
<p>
<p class=header_2>Club Title: Training in Tamil Computing(Kanini Tamil Payirchi) </p>
<p> <b>Person to contact</b>: Ramesh Ramaiyer (408)738-3654 </p>
<p><b>Email</b>: ramaiyer_ramesh@yahoo.com</p>

<p> <b>Goals</b>:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif"> Encourage basic learning abilities
        in Tamil <br>
        <img src="images/bullet.gif"> Inspire reading, writing, speaking interests in Tamil through
        computing <br>
        <img src="images/bullet.gif"> Learn to use Internet and Windows applications through Tamil
        language
    </p>
</blockquote>
<p> <b>How</b>:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif"> Introduction to eKalappai, Murasu Anjal ... <br>
        <img src="images/bullet.gif"> Tamil editing through Windows applications Notepad, Wordpad, MS Word, MS Powerpoint<br>
        <img src="images/bullet.gif"> Tamil in Internet: email, IM chat(Yahoo, MSN), web page creation, Tamil
        search tools (Google)... <br>
        <img src="images/bullet.gif"> Introduce Tamil language learning software (Tamil Kalvi)<br>
        <img src="images/bullet.gif"> Popular web sites in Tamil <br>
        <img src="images/bullet.gif"> Tamil stories in Multimedia Club <br>
    </p>
</blockquote>
<p class=header_2>Title: "iLamaiyil kal" puththaga kuzhu </p>
<p><b>Duration</b>: Offered two Sundays - 11:15 to 12.</p>
<p><b>Person to Contact</b>: Loganathan Venkatachalam (408) 984 8355</p>
<p> <b>Email</b>: loguv@hotmail.com </p>
<p>
    Reading is an essential part of knowledge enrichment. The book club will
    encourage and motivate reading Tamil literature and story books that will
    help to develop students' knowledge of Tamil language, Fluent reading skill
    and culture.
</p>
<p> <b>Goal</b>:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif">Enjoy Tamil through reading and listening to Tamil
        stories <br>
        <img src="images/bullet.gif">Develop Tamil literary knowledge through
        discussion of several topics <br>
</blockquote>
<p><b>Program detail</b>:</p>
<p>
    the club will meet monthly twice from 11:15 to
    12.
</p>
<p>
    the club moderator will read a book and discuss the subject in Tamil
    (alternate weeks)
</p>
<p>
    Suggest a topic for the next meeting and encourage students
    to borrow books on that subject to read at home with parents if needed
</p>
<p>
    parents are welcome to the club to read with the kids - (alternate weeks)
    students will be given opportunity to come and tell all about the book he/she
    read the prior week. The format of the discussion would be as follows:
</p>

<blockquote>
    <img src="images/bullet.gif"> name of the book <br>
    <img src="images/bullet.gif"> what kind of book <br>
    <img src="images/bullet.gif"> author <br>
    <img src="images/bullet.gif"> what they like or don't
    like about the book <br>
    <img src="images/bullet.gif"> they would recommend the book? why or why not?<br>
</blockquote>

<b>Books</b>:
<blockquote>
    <p>
        <img src="images/bullet.gif"> The books will include but not limited
        to<br>
        <img src="images/bullet.gif"> stories by kids writers that enable critical thinking <br>
        <img src="images/bullet.gif"> children's songs <br>
        <img src="images/bullet.gif"> Tamil magazines:Chutti Vikatan, Thendral,
        SiruvarMani etc <br>
        <img src="images/bullet.gif"> books written by great Tamil authors <br>
        <img src="images/bullet.gif"> humorous books <br>
        <img src="images/bullet.gif"> fairy tales <br>
        <img src="images/bullet.gif"> Folklore stories - etc<br>
    </p>
</blockquote>
<p> <b>Competition</b>: </p>

<blockquote>
    No competition at this point. The objective of this club is
    to encourage students reading habits through fun books. I don't plan to
    have any competition, tests or ranking students. Not but not least: This
    agenda will be enhanced as we learn more about the members and their interest.
</blockquote>
<!-- Content Ends   Here--->
<p>
    <a class=mouse href="#/academics">Academics</a>
    &gt; Clubs
</p>