
<br>
<!-- Content Starts Here--->
<p><a class="inplace" href="/partials/registration.html">Back</a></p>
<p class="header_1">Registration Fees Structure</p>
<p>Every student needs to pay the Tuition and Book Fees at the time of registration. Tuition fee for all the three terms is $225.00. Fee includes ONE set of books needed for the school year. Books will be handed out to the student on the first day of the school or upon joining CTA which ever is later. </p>

<p class="header_2">
    Tuition Fee Refund Policy:
</p>
<blockquote>
    <p>
        <strong>$10.00 service charge will be deducted</strong> if the student has not attended any classes or attends just one class. (Any books or materials have to be returned in good condition to be eligible for refund).
    </p>
    <p>
        <strong>80% of the tuition fees</strong> will be refunded for students withdrawing after attending only  2 classes.
    </p>
    <p>
        <strong>50% of the tuition fees</strong> will be refunded for students who have attended more than 2 classes and withdraws <strong>before the start of second term.</strong>
    </p>
    <p>
        No refund for withdrawals <strong>after the start of second term</strong>.
    </p>
</blockquote>
<p>
    <strong>A written withdraw request must be submitted to the respective school principal in order to get the refund. No refund will be processed without the written request. Any class that the student is absent after the registration would be considered as class attended for fee refund purposes.</strong>
</p>
<p><a class="inplace" href="/partials/registration.html">Back</a></p>
<!-- Content Ends   Here--->
