<!-- Content Starts Here--->
<br/>
<h4 class=header_1>மாணவர்களின் ஆண்டு இறுதித் திறன் மதிப்பீடூ (Final Annual Evaluation of Students' knowledge &amp; skills)</h4>
<h5>சுமதி பத்மனாபன்</h5>
<br />
<h4>தேர்வுகளும் மற்ற மதிப்பீடுகளும்:</h4>
<br/>
<p class="tamil">மாணவர்கள் தாம் படித்ததை நினைவில் வைத்திருக்கிறார்களா, தமிழ்ப் பயிற்சி செய்கிறார்களா, அடுத்த வகுப்புக்குப் போகத் தயாராக இருக்கிறார்களா, படித்த பாடங்கள் அவர்களது தமிழ் வளர உபயோகமாய் இருக்கின்றனவா என்று அறிய நம் பள்ளிக்கூடத்தில் ஒவ்வொரு தவணை முடிவிலும் அந்தந்த வகுப்புகளுக்கு ஏற்ற தேர்வுகளை நடத்துகின்றோம். தேர்வுகள் மட்டுமன்றி மாணவர்கள் வீட்டுப்பாடத்தில் காட்டும் முயற்சி, வகுப்பு செயற்பாடுகளில் பங்கேற்கும் ஈடுபாடு (Class Participation), ஒப்புவிக்கும் திறமை (Recital), படிக்கும் திறமை, பேச்சு மற்றும் எழுத்துத் திறமை, பள்ளி வருகை (Attendance) ஆகியவற்றை ஒவ்வொரு ஆசிரியரும்/ஆசிரியையும் தங்களுடைய ஆசிரியர் பதிவேட்டில் (Teacher's Logbook) தினமும் குறித்துக்கொள்கிறார்கள். இந்த தினசரி மதிப்பெண் குறிப்புகள் மாணவர்களின் தவணை முன்னேற்ற அறிக்கை (Student's Term Progress Report) மற்றும் ஆண்டு இறுதித் தரவரிசை மதிப்பீட்டில் (Evaluation of Student's Annual Final Ranking) பயன்படுத்தப்படுகின்றன..</p>
<br/>
<h4>இறுதித் தரவரிசை மதிப்பீடு:  (Evaluation of Student's Final Ranking)</h4>
<br />
<p class="tamil">துவக்கப் பள்ளி வகுப்புகளில் (ESGL) மாணவர்களின் பள்ளி வருகை, வீட்டுப்பாடத்தில் காட்டும் முயற்சி, வகுப்பு செயற்பாடுகளில் பங்கேற்கும் ஈடுபாடு, முதல் மற்றும் இரண்டாம் தவணைத் தேர்வுகளில் மாணவரின் சராசரி மதிப்பெண்கள், வருட இறுதித் தேர்வில் மாணவரின் மதிப்பெண்கள் ஆகியனவற்றைக் கருத்தில் கொண்டு இறுதித் தரவரிசை மதிப்பீடு கணக்கிடப்படுகின்றது. இந்த 5 மதிப்பீடுகள் ஒவ்வொன்றுக்கும் சரிசமமாக 100 மதிப்பெண்கள் அளிக்கப்படுகின்றது. மொத்தம் 500 மதிப்பெண்களில் மாணவர் பெற்ற மதிப்பெண்களைப் பொறுத்து அந்த மாணவனின்/மாணவியின் இறுதித் தரவரிசை எண் (Final Rank) கணக்கிடப்படுகின்றது.</p>
<p class="tamil">நடுநிலை (MSGL) மற்றும் உயர்நிலைப் பள்ளி (HSGL) வகுப்புகளில் மேல்கண்ட மதிப்பீடுகளுடன், ஒப்புவிக்கும் திறமை, படிக்கும் திறமை, மற்றும் எழுத்துத் திறமைகளையும் கருத்தில் கொண்டு இறுதித் தரவரிசை மதிப்பீடு கணக்கிடப்படுகின்றது. மொத்தம் 900 மதிப்பெண்களில் மாணவர் பெற்ற மதிப்பெண்களைப் பொறுத்து அந்த மாணவனின்/மாணவியின் இறுதித் தரவரிசை எண் (Final Rank) கணக்கிடப்படுகின்றது. உயர்நிலைப் பள்ளி (HSGL) வகுப்புகளில் எழுத்துத் திறமையில் புத்தக அறிக்கைக்கு (Book Report) முக்கியத்துவம் அளிக்கப்படுகின்றது.</p>
<p class="tamil">ஒவ்வொரு வகுப்பிலும் முதல் தரவரிசை (First rank) பெற்ற மாணவருக்கு தங்கப் பதக்கமும் (Gold medal), இரண்டாம் மற்றும் மூன்றாம் தரவரிசைகள் பெற்ற மாணவர்களுக்கு வெள்ளிப் பதக்கங்களும் (Silver medals) வழங்கி நம் தமிழ்ப்பள்ளி மாணவர்களை ஊக்குவிக்கின்றது.</p>


<!-- Content Ends   Here--->
