<!-- Content Starts Here--->
<h4>Resources</h4>

<font color=red>
    <b>
        The links contained on this page are provided as a courtesy to aid in the search of information.  CTA is not associated with any of the links provided.
        
    </b>
</font>
<br /><h4>Libraries in Bay Area with Tamil Books</h4>
<blockquote>
    <img src="images/bullet.gif"><a class="mouse" href="http://www.sjlibrary.org/about/locations/king/index.htm" target="_blank">SanJose City Library</a><br>
    <img src="images/bullet.gif"><a class=mouse href="http://aclibrary.org/branches/frm/fremonthome.asp" target="_blank">Fremont Main Library</a><br>
    <img src="images/bullet.gif"><a class=mouse href="http://www-lib.co.santa-clara.ca.us/cupertino/" target="_blank">Cupertino Library</a><br>
</blockquote>
<br/><h4>Tamil Radios on the Web</h4>
<blockquote>
    <p>
        <img src="images/bullet.gif"><a class=mouse href="http://www.thendral.com/" target="_blank">Thendral.com</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://oli.mediacorpradio.com/" target="_blank">Oli 96.8</a><br>
    </p>
</blockquote>
<br /><h4>Tamil Fonts</h4>
<blockquote>
    <p>
        <img src="images/bullet.gif"><a class=mouse href="http://www.ezilnila.com/software.htm" target="_blank">E-kalappai</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.tscii.org/" target="_blank">Tscii</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.murasu.com/downloads/" target="_blank">Murasu Anjal</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.geocities.com/Athens/5180/mylai1.html" target="_blank">Mylai font</a><br>
    </p>
</blockquote>
<br /><h4>Tamil Magazines and Newspapers</h4>
<blockquote>
    <p>
        <img src="images/bullet.gif"><a class=mouse href="http://www.dinamalar.com/" target="_blank">Dinamalar</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.dinamani.com/" target="_blank">Dinamani</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.dinakaran.com/" target="_blank">Dinakaran</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.vikatan.com/" target="_blank">Vikatan</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.kumudam.com/" target="_blank">Kumudam</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.natkeeran.ca/AJLinks/TMag/TamilMagazines06.html" target="_blank">Natkeeran</a><br>
    </p>
</blockquote>
<br /><h4>Tamil Learning Site</h4>
<blockquote>
    <img src="images/bullet.gif"><a class=mouse href="http://www.puyal.de/ruba3.htm" target="_blank">Tamil Website from Germany</a><br>
    <img src="images/bullet.gif"><a class=mouse href="http://www.tamil.net/projectmadurai/" target="_blank">Projectmadurai</a><br>
    <img src="images/bullet.gif"><a class=mouse href="http://www.tamilvu.org/" target="_blank">
        Tamil Virtual
        Academy
    </a><br>
    <img src="images/bullet.gif"><a class=mouse href="http://tamil.berkeley.edu/" target="_blank">Tamil Studies at UC, Berkely</a><br>
</blockquote>
<br /><h4>Miscellaneous</h4>
<blockquote>
    <p>
        <img src="images/bullet.gif"><a class=mouse href="http://www.bayareatamilmanram.org/" target="_blank">Bay Area Tamil Manram</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.tn.gov.in/" target="_blank">Government of Tamil Nadu</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.tn.nic.in/" target="_blank">Useful information about Tamil Nadu</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.fetna.org/" target="_blank">Federation Tamil Sangams of NorthAmerica</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.kalanjiam.com/" target="_blank">kalanjiam</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.intamm.com/" target="_blank">Intamm</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.tamil.com/" target="_blank">tamil.com</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.tamil.net/projectmadurai/pub/pm0001/pm0001.pdf " target="_blank">Thirukural</a><br>
        <img src="images/bullet.gif"><a class=mouse href="http://www.tamilrhymes.com/" target="_blank">Tamil Rhymes</a><br>

    </p>
</blockquote>
<!-- Content Ends   Here--->
