<p>
    <a class=mouse href="#" onclick="pageLoader.LoadPage('/partials/academics.html' )">Academics</a>
    &gt; CTA-Teacher's Responsibilities
</p>
<!-- Content Starts Here--->
<p class=header_1>CTA-Teacher's Responsibilities</p>
<p class=header_2> Commitment:</p>
<p>
    <br>
    Teachers should commit to teaching till the end of the school year (Sep
    to May). For some unforeseen reasons, if a teacher has to quit, he or
    she will notify the Selvi Rajamanickam at least 2 weeks ahead of the time
    of quitting.
</p>
<p class=header_2>Vacation / Unable to attend:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif" width="12" height="12">Teachers will come
        to school on every working day of the school. <br>
        <img src="images/bullet.gif" width="12" height="12">If there is a planned vacation, the Branch Principal has to be notified
        ahead of time (as soon as the vacation plans are finalized). <br>
        <img src="images/bullet.gif" width="12" height="12">If the teacher cannot come to school on a certain Sunday due to unexpected
        reasons or sickness, the Administrative Office has to be notified (408-741-0612)
        before 9:00 AM on that Sunday. <br>
    </p>
</blockquote>
<p class=header_2> Punctuality:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif" width="12" height="12">Teachers will come to school on time and be a positive role model for
        the students in observing punctuality. <br>
        <img src="images/bullet.gif" width="12" height="12">Teachers will teach the students until the class ends at 11:15 AM. If
        the teacher has to leave early due to some unavoidable reasons, he or
        she will contact the Selvi Rajamanickam, so a substitute teacher can
        be arranged for the remaining time. <br>
    </p>
</blockquote>
<p class=header_2> Teacher's Log:</p>
<p>
    <br>
    On every working day, the teachers will go to the Administrative Office
    to sign-up to receive the Teacher's Log before going to the classroom.
    The teacher will record the specifics in the log on each working day.
    At the end of the class, the teachers will return the Log to the Administrative
    Office.
</p>
<p class=header_2>School Rules:</p>
<blockquote>
    <p>
        <img src="images/bullet.gif" width="12" height="12">Teachers will be aware of the School Rules and Regulations and will
        abide by them explicitly. Teachers will also be aware of the duties
        of other Officers and other Contact Persons and will follow them accordingly.
    </p>
    <p>
        <img src="images/bullet.gif" width="12" height="12">If there are questions from the parents or students about the school,
        the teacher will receive the questions in a polite manner and direct
        them to the appropriate Contact Person. If the teacher does not know
        whom to contact, he or she will notify the Selvi Rajamanickam about
        the inquiry.
    <p></p>
    <img src="images/bullet.gif" width="12" height="12">The teacher will NOT talk about or give out any non-public information
    about the school, administration or any personal information about other
    students to any parents. The teacher will refer the parent to the Administrative
    Office. <br>

</blockquote>
<p class=header_2>Staff-Meeting:</p>
<p>
    Teachers will attend all 3 staff meetings to express their issues and
    concerns and listen to the suggestions of other teachers and the Board.
    Teachers will notify the issues ahead of the meeting.
</p>
<p class=header_2>Syllabus:</p>
<p>
    <br>
    The teacher will follow the planned syllabus and will teach the appropriate
    skills proposed by the syllabus committee for that grade level. Teachers
    are welcome to teach outside the syllabus, appropriately, after they complete
    the planned syllabus and the skills at the given time.
</p>
<p class=header_2>Test Question Papers:</p>
<p>
    <br>
    It is the teacher's responsibility to make the Quiz/Test Question papers
    and Final Exam model and final exam question papers for his/her class
    on time and to give it to the Officer that collects the Question papers.
</p>
<p class=header_2>Student Discipline:</p>
<p>
    <br>
    The teacher will deal with the student-related issues in a positive way
    and encourage them to give their best efforts to learn Tamil.
</p>
<p></p>
<p></p>
<!-- Content Ends   Here--->
<p>
    <a class=mouse href="#" onclick="pageLoader.LoadPage('/partials/academics.html' )">Academics</a>
</p>